<div id="navbar">
  <div class="btn-logo">  
    <%= link_to root_path do %>
      <%= image_tag "logo-plinguet-01.png", id: "logo" %>
    <% end %>
  </div>

  <div class="content"> 
      <h1>Atelier Plinguet</h1>
  </div>
  <div id="menu">
    <%= link_to furnitures_path, class: "button-48" do %>
      <h4>Meubles</h4>
    <% end %>
    <%= link_to accessories_path, class: "button-48" do %>
      <h4>Réalisations</h4>
    <% end %>
    <%= link_to "#", class: "button-48", role: "button" do %>
      <h4>L'atelier</h4>
    <% end %>
    <%= link_to "#", class: "button-48" do %>
      <h4>Contact</h4>
    <% end %>
  </div>
</div>
