
<%= render "pages/banner" %>

<hr id="home-line">

<div class="home-description">
	<div class="meubles">
    <%= link_to furnitures_path do %>
      <h4>Nos renovations</h4>
    <% end %>
    <p>"À l'Atelier Plinguet, nous sommes spécialisés dans la rénovation de meubles. Nous redonnons vie à une variété de pièces, qu'elles soient vintage, démodées ou endommagées. Chaque meuble est méticuleusement transformé avec expertise et élégance, utilisant des couleurs vibrantes telles que les tons neutres, les nuances de bleu et les accents dorés. Nous ne nous arrêtons pas à la surface : nous modernisons également les poignées, les pieds des meubles, travaillons les tiroirs et les intérieurs pour une restauration complète. Avec une palette de couleurs audacieuses et des finitions impeccables, nos créations ajoutent une dimension artistique et fonctionnelle à tout intérieur."</p>
    </div>
	<div class="vl"></div>
	<div class="atelier">
    <%= link_to accessories_path do %>
      <h4>Nos creations</h4>
    <% end %>
		<p>L'Atelier conçoit également des pièces originales avec passion et savoir-faire artisanal.
    Caractérisés par un design unique résultant d'un assemblage minutieux de bois, nos lampes sur mesure se distinguent par leur élégance et leur raffinement.
    Nos appliques en bois effet métal ajoutent une touche contemporaine à tout intérieur.
    Nos différentes pièces en cuivre au design épuré et élégant, sont le mariage parfait entre esthétique et confort, idéales pour rehausser le style de votre espace de vie.
    À l'Atelier Plinguet, chaque création, peinte selon les préférences du client, est le fruit de notre passion pour le design, les matériaux et notre engagement envers la qualité artisanale.</p>
	</div>
	<div class="vl"></div>
	<div class="realisations">
    <%= link_to realisations_path do %>
      <h4>Nos realisations</h4>
    <% end %>
		<p>Spécialiste de la rénovation de meubles, je redonne vie à tous types de pièces, qu'ils soient vintages, démodés ou abîmés. Transformez votre mobilier avec expertise et élégance.Spécialiste de la rénovation de meubles, je redonne vie à tous types de pièces, qu'ils soient vintages, démodés ou abîmés. Transformez votre mobilier avec expertise et élégance.</p>
	</div>
</div>

<hr id="home-line">

<h3>Dernieres renovations</h3>
<div class="home-last-creations">
	<% @last_furnitures.each do |furniture| %>
    <%= link_to furniture_path(furniture) do %>
      <figure>
        <% furniture.photos.each do |photo| %>
          <%= cl_image_tag photo.key, alt: "atelier-plinguet-meuble", class: "object-fit-cover index-photo", fetch_format: :auto, crop: "scale", quality: "auto" %>
          <% break %>
        <% end %> 
        <figcaption><%= furniture.name %></figcaption>
      </figure>
    <% end %>
  <% end %>
</div>
<hr id="home-line">

<h3>Dernieres creations</h3>
<div class="home-last-creations">
	<% @last_accessories.each do |accessory| %>
    <%= link_to accessory_path(accessory) do %>
      <figure>
        <% accessory.photos.each do |photo| %>
          <%= cl_image_tag photo.key, alt: "atelier-plinguet-meuble", class: "object-fit-cover index-photo", fetch_format: :auto, crop: "scale", quality: "auto", height: "400" %>
          <% break %>
        <% end %> 
        <figcaption><%= accessory.name %></figcaption>

      </figure>
    <% end %>
  <% end %>
</div>
<hr id="home-line">

<h3>Dernieres realisations</h3>
<div class="home-last-realisations">
	<% @last_realisations.each do |realisation| %>
    <%= link_to realisation_path(realisation) do %>
      <figure>
        <% realisation.photos.each do |photo| %>
          <%= cl_image_tag photo.key, alt: "atelier-plinguet-meuble", class: "object-fit-cover index-photo", fetch_format: :auto, crop: "scale", quality: "auto" %>
          <% break %>
        <% end %> 
        <figcaption><%= realisation.name %></figcaption>
      </figure>
    <% end %>
  <% end %>
</div>

<hr id="home-line">

<h3>Ils parlent de nous</h3>
<div class="home-last-realisations">
  <%= link_to "https://www.colibripeinture.com/comment-transformer-une-armoire-en-etageres-ouvertes.html", target: "_blank" do %>
    <figure>
      <%= image_tag "about-ap-colibri.png", class: "object-fit-cover index-photo", alt: "Atelier Plinguet and Colibri", fetch_format: :auto, crop: "scale", quality: "auto" %>
      <figcaption>Colibri peinture</figcaption>
    </figure>
  <% end %>
</div>


