<%= form_with(model: @contact, url: contacts_path, local: true) do |form| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "Nom" %>
    <%= form.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :email, "E-mail" %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label :message, "Votre message" %>
    <%= form.text_area :message %>
  </div>

  <div class="actions">
    <%= form.submit "Envoyer mon message" %>
  </div>
<% end %>
