<!DOCTYPE html>
<html>
<head>
  <title>New Contact Form Submission</title>
</head>
<body>
  <h1>New Contact Form Submission</h1>
  <p>Nom: <%= @contact.name %></p>
  <p>Email: <%= @contact.email %></p>
  <p>Sujet: <%= @contact.subject %></p>
  <p>Tel : <%= @contact.telephone %></p>
  <p>Message: </p>
  <p><%= @contact.message %></p>
</body>
</html>
