<!DOCTYPE html>
<html>
<head>
  <title>Atelier Plinguet : <%= @contact.name %> </title>
</head>
<body>
  <h1>Nouveau message pour l'Atelier : <%= @contact.subject %></h1>
  <p>Hello mon couz ! 
    Voici une nouvelle <%= @contact.subject %> envoyée par <%= @contact.name %>.
  <p>Son email est : <%= @contact.email %>
    <% if @contact.telephone.present? %>
      et son tel : <%= @contact.telephone %>.
    <% end %>
  <p>Voici son message :</p>
  <%= @contact.message %></p>
  <p>Signé : <%= @contact.name %>
</body>
</html>
