<!-- app/views/accessories/show.html.erb -->  
<% content_for :meta_title, "#{@accessory.type_of} is on #{DEFAULT_META["meta_product_name"]}" %>  
<% content_for :meta_description, @accessory.description %>  
<%# content_for :meta_image, cl_image_path(@accessory.photo.path) %>

<%# @accessory.photos.each do |photo| %>
  <%#= cl_image_tag photo.key, height: 500, width: 1200, class: "object-fit-cover" %>
<%# end %>
  <%#= @accessory.type_of_accessory %>
  <%#= @accessory.name %>
  <%#= @accessory.material %>
  <%#= @accessory.color %>
<div class="main-container">
  <div class="galery-container">
    <% @accessory.photos.each do |photo| %>
      <div style="<%= "background: url('#{url_for(photo)}') no-repeat 50% / cover;" %>">
        <div class="content">
          <h2><%= @accessory.name %></h2>
          <span><%= @accessory.type_of %></span>
        </div>
      </div>
    <% end %>
  </div>

  <div class="furniture-container">
    <div class="furniture-glass">
      <h2><%= @accessory.name %></h2>
      <div class="furniture-card">
        <div class="furniture-photo">
          <div class="furniture-details-photo">
            <% if @accessory.photos.attached? %>
              <img src="<%= url_for(@accessory.photos.first) %>" class="tokenImage" alt="Description de l'image">
            <% else %>
              <!-- Gérer le cas où aucune image n'est attachée -->
              <p>Aucune image disponible</p>
            <% end %>
          </div>
          <div class="furniture-details">
            <h5>Caractéristiques</h5>
            <ul>
              <li><i class="fa-solid fa-screwdriver-wrench"></i> <span id="bullet">Type de meuble :</span> <%= @accessory.type_of %></li>
              <li><i class="fa-regular fa-gem"></i> Matériau(x) : <%= @accessory.material %></li>
              <% if @accessory.created_at.present? %>
                <li> <i class="fa-regular fa-calendar"></i> Date de création : <%= @accessory.created_at.strftime("%d-%m-%Y") %></li>
              <% else %>
                <li> <i class="fa-regular fa-calendar"></i> Date de création : <%= Time.now.strftime("%d-%m-%Y") %></li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="furniture-description">  
          <h5>Description de <%= @accessory.name %></h5>
          <i class="fa-solid fa-scroll"></i> <%= @accessory.description %>
        </div>
      </div>
  
      <div class='creator'>
        <div class='wrapper'>
          <%= image_tag "logo-plinguet-01.png" %>
        </div>
      <p>Création originale de l'<ins>Atelier Plinguet</ins></p>
      </div>
    </div>
  </div>         
</div>





