<div class="container">
  <div>
    <div class="content">
      <h2><%= @accessory.name %></h2>
      <span><%= @accessory.type_of %></span>
    </div>
  </div>
  <div>
    <div class="content">
      <h2><%= @accessory.name %></h2>
      <span><%= @accessory.type_of %></span>
    </div>
  </div>
  <div>
    <div class="content">
      <h2><%= @accessory.name %></h2>
      <span><%= @accessory.type_of %></span>

    </div>
  </div>
  <div>
    <div class="content">
      <h2><%= @accessory.name %></h2>
      <span><%= @accessory.type_of %></span>
    </div>
  </div>
</div>