<div>
  <%= simple_form_for (furniture), html: {class: furniture.errors.any? ? "" : "d-none add-form", data: { add_furniture_target: "form", action: "submit->add-furniture#add turbo:submit-end->add-furniture#resetForm" }} do |f| %>
    <%= f.input :name, label: "Nom" %>
    <%= f.input :description, as: :text, label: "Description" %>
    <%= f.input :type_of_furniture, collection: ["Commode", "Bibliothèque", "Bahut", "Armoire", "Confiturier", "Meuble de rangement", "Vaisselier", "Armoire", "Semainier", "Table basse", "Secrétaire", "Meuble à chaussures", "Coffre", "Console" ], label: "Sélectionnez un type de meuble" %>
    <%= f.input :color, label: "Couleurs du meuble" %>
    <%= f.input :paint_brand, label: "Sélectionnez une marque de peinture", collection: ["Envie", "Farrow & Ball", "Pure & Paint", "Colibri", "Little Green", "Unknown brand", ] %>
    <%= f.input :varnish, label: "Vernis" %>
    <%= f.input :varnish_brand, label: "Marque de Vernis", collection: ["Libéron", "v33"]  %>
    <%= f.input :teint, label: "Teinte" %>
    <%= f.input :material, label: "Sélectionnez un matériau", collection: ["Bois", "Cuivre", "Cuivre & Bois", "Pin", "Chène", "Autre"] %>
    <%= f.input_field :created_at, as: :hidden, value: Date.today %>
    <%= f.input_field :user_id, as: :hidden, value: params[:id] %>
    <%= f.input :photos, as: :file, label: "Ajoutez une ou plusieurs photos", input_html: { multiple: true } %>
    <button class="button-85" role="button">
      <%= f.submit "Share!", class: "share-button" %>
    </button>
  <% end %>
</div>

