<div data-controller="add-furniture">
  <div class="add-furniture">
    <% if user_signed_in? %>
      <button data-action="click->add-furniture#displayForm" class="btn btn-outline-primary">Ajouter un nouveau meuble</button>
    <% end %>
  </div>
  
  <div class="category-search">
    <% @furniture_types.each do |type| %>
        <%= link_to type, show_by_type_furnitures_path(type) %>
    <% end %>
  </div>
  <div>
    <%= render "furnitures/add_furniture_form", furniture: @furniture %>
  </div>
  
  <div class="galerie" data-add-furniture-target="list">
    <% @furnitures.each do |furniture| %>
      <%= link_to furniture_path(furniture) do %>
        <figure>
          <% furniture.photos.each do |photo| %>
            <%= cl_image_tag photo.key, alt: "atelier-plinguet-meuble", class: "object-fit-cover index-photo" %>
            <% break %>
          <% end %> 
          <figcaption><%= furniture.name %></figcaption>
        </figure>
      <% end %>
    <% end %>
  </div>
</div>