<div data-controller="add-furniture"> 
  <div class="row justify-content-center" data-controller= "furniture-search-filter">
    <div class="col-sm-8 my-3">
      <%= form_with url: furnitures_path, method: :get, class: "search-bar", data: { furniture_search_filter_target: "filter"} do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control category-search",
          placeholder: "Rechercher un meuble",
          data: { action: "keyup->furniture-search-filter#filter",
              furniture_search_filter_target: "input" }
          %>
        <%= button_tag(type: "submit", class: "btn") do %>
        <i class="fa fa-search"></i>
        <% end %>
      <% end %>
    </div>
    <div class="add-furniture">
      <% if user_signed_in? %>
        <button data-action="click->add-furniture#displayForm" class="btn btn-add btn-outline-primary">Ajouter un nouveau meuble</button>
      <% end %>
      <div>
        <%= render "furnitures/add_furniture_form", furniture: @furniture %>
      </div>
    </div>
    <div>
      <%= render "furniture_filtered", furnitures: @furnitures%>
    </div>
  </div>
</div>
