<div class="index-body">

  <div class="category-search">
  <% @furniture_types.each do |type| %>
      <%= link_to type, show_by_type_furnitures_path(type) %>
  <% end %>

  </div>

  <div class="galerie">
    <% @furnitures.each do |furniture| %>
      <%= link_to furniture_path(furniture) do %>
        <figure>
          <% furniture.photos.each do |photo| %>
            <%= cl_image_tag photo.key, alt: "atelier-plinguet-meuble", class: "object-fit-cover index-photo" %>
            <% break %>
          <% end %> 
          <figcaption><%= furniture.name %></figcaption>

        </figure>
      <% end %>
    <% end %>




  <div data-controller="add_furniture" class="mt-5">
    <button class="btn btn-outline-primary">Add a new furniture</button>
    <%= render "furnitures/add_furniture_form", furniture: @furniture %>
  </div>
</div>
