<!-- app/views/furnitures/show.html.erb -->  
<% content_for :meta_title, "#{@furniture.name} is on #{DEFAULT_META["meta_product_name"]}" %>  
<% content_for :meta_description, @furniture.description %>  
<%# content_for :meta_image, cl_image_path(@furniture.photo.path) %>

<%# @furniture.photos.each do |photo| %>
  <%#= cl_image_tag photo.key, height: 500, width: 1200, class: "object-fit-cover" %>
<%# end %>
  <%#= @furniture.type_of_furniture %>
  <%#= @furniture.name %>
  <%#= @furniture.material %>
  <%#= @furniture.color %>


<div class="main-container">

  <div class="container">
    <% @furniture.photos.each do |photo| %>
      <div style="<%= "background: url('#{url_for(photo)}') no-repeat 50% / cover;" %>">
        <div class="content">
          <h2><%= @furniture.name %></h2>
          <span><%= @furniture.type_of_furniture %></span>
        </div>
      </div>
    <% end %>
  </div>


  <div class="second-card-show">
    <div class="main-content-card">
      <div class="content">
        <h3 class="card-title"><strong> <%= @furniture.name %></strong></h3>
        <h2 class="px-2 fa-lg li-ic" id="gender"><i class="fa-solid fa-venus-mars"></i>  <%= @furniture.date_of_manufacture  %></h2>
        <h2 class="px-2 fa-lg tw-ic" id="age"><i class="fa-solid fa-cake-candles"></i>  <%= @furniture.type_of_furniture %></h2>
        <h2 class="px-2 fa-lg fb-ic" id="specie"><i class="fa-solid fa-paw"></i> <%= @furniture.color %></h2>
        <h2 class="px-2 fa-lg fb-ic" id="name"><i class="fa-solid fa-address-card"></i> <%= @furniture.material %></h2>

        <div class="owner-card">
          <img class="avatar-large" alt="avatar-large" src="<%= image_path "cover.png" %>">
          <div class="owner-identity">
          <%=@furniture.name%>
          <%=@furniture.name%>
          </div>
          <div class="owner-rating">
          <i class="fa-solid fa-medal"></i> <%=@furniture.name%> / 10
          </div>
        </div>

        <p id="description"> <%= @furniture.description %></p>
        <button class="button-57" id="skill" role="button"><span > SECRETE SKILL </span><span><h2 class="px-2 fa-lg fb-ic" ><i class="fa-solid fa-user-ninja"></i>  <%= @furniture.type_of_furniture %></h2></span></button>
      </div>
    </div>
  </div>

</div>

<div class="container-a">
  <div class="container-b">
    <div class="wrapper">
      <div class="banner-image"> </div>
        <h1> <%= @furniture.name %></h1>
          <% @furniture.photos.each do |photo| %>
      <div style="<%= "background: url('#{url_for(photo)}') no-repeat 50% / cover;" %>">
        <div class="content">
          <h2><%= @furniture.name %></h2>
          <span><%= @furniture.type_of_furniture %></span>
        </div>
      </div>
    <% end %>
        <p>Lorem ipsum dolor sit amet, <br/>
          consectetur adipiscing elit.</p>
    </div>
    <div class="button-wrapper"> 
      <button class="btn outline">DETAILS</button>
      <button class="btn fill">BUY NOW</button>
    </div>
  </div>
  </div>
