<!-- app/views/furnitures/show.html.erb -->
<% content_for :meta_title, "#{@furniture.type_of_furniture} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @furniture.description %>
<%# content_for :meta_image, cl_image_path(@furniture.photo.path) %>

<div data-controller="update-furniture">
  <div class="main-container">
    <div class="galery-container">
      <% @furniture.photos.each do |attachment| %>
        <div style="<%= "background: url('#{cl_image_path(attachment.key, fetch_format: :auto, crop: 'fill', width: 1200, quality: 'auto')}') no-repeat 50% / cover;" %>">

          <div class="content">
            <h2><%#= @furniture.name %></h2>
            <span><%#= @furniture.type_of_furniture %></span>
            <% if user_signed_in? && current_user.admin? %>
              <%= link_to 'Supprimer', purge_attachment_path(attachment), data: { turbo_method: :delete, turbo_confirm: "T'es sûr mon couz ?" } %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="furniture-container">
      <div class="furniture-glass">
        <h2>Caractéristiques de "<%= @furniture.name %>"</h2>
        <hr>
        <div class="furniture-card">
          <div class="furniture-photo">
            <div class="furniture-details-photo">
              <% if @furniture.photos.attached? %>
                <%# Use cl_image_tag for Cloudinary transformations %>
                <%= cl_image_tag @furniture.photos.first.key, alt: "Meuble Atelier Plinguet", class: "tokenImage index-photo", fetch_format: :auto, crop: "fill", quality: "auto" %>
              <% else %>
                <!-- Gérer le cas où aucune image n'est attachée -->
                <p>Shooting photo en cours !</p>
              <% end %>
            </div>
            <div class="furniture-details">
              <ul>
                <li><i class="fa-solid fa-screwdriver-wrench"></i><span id="bullet">Type de meuble</span> <p> <%= @furniture.type_of_furniture %></p></li>
                <li><i class="fa-solid fa-gem"></i> <span id="bullet">Matériaux</span><p><%= @furniture.material %></p></li>
                <li><i class="fa-solid fa-palette"></i><span id="bullet">Couleurs</span> <p><%= @furniture.color %></li>
                <% if @furniture.paint_brand.present? %>
                  <li><i class="fa-solid fa-palette"></i><span id="bullet">Marque de peinture</span>
                    <p><%= @furniture.paint_brand %></p>
                    <div>
                      <%# Using if-elsif block to display brand logos %>
                      <% if @furniture.paint_brand == "Colibri" %>
                        <%= image_tag @colibri, class: "colibri-logo" %>
                      <% elsif @furniture.paint_brand == "Farrow & Ball" %>
                        <%= image_tag @farrow_and_ball, class: "fb-logo" %>
                      <% elsif @furniture.paint_brand == "Envie" %>
                        <%= image_tag @envie, class: "envie-logo" %>
                      <% elsif @furniture.paint_brand == "Little Green" %>
                        <%= image_tag @little_green, class: "lg-logo" %>
                      <% elsif @furniture.paint_brand == "Pure & Paint" %>
                        <%= image_tag @pure_and_paint, class: "pp-logo" %>
                      <% elsif @furniture.paint_brand == "Libéron" %>
                        <%= image_tag @liberon, class: "liberon-logo" %>
                      <% end %>
                    </div>
                  </li>
                <% end %>
                <% if @furniture.teint.present? %>
                  <li><i class="fa-solid fa-paintbrush"></i><span id="bullet">Teinte du meuble</span> <p><%= @furniture.teint %></p></li>
                <% end %>
                <% if @furniture.varnish.present? %>
                  <li><i class="fa-solid fa-paintbrush"></i><span id="bullet">Vernis</span> <p><%= @furniture.varnish %></p>
                    <div>
                      <%# Using if-elsif block to display varnish brand logos %>
                      <% if @furniture.varnish_brand == "Libéron"%>
                        <%= image_tag "liberon-logo.webp", class: "liberon-logo" %>
                      <% elsif @furniture.varnish_brand == "v33" %>
                        <%= image_tag @v33, class: "v33-logo" %>
                      <% end %>
                    </div>
                  </li>
                <% end %>
                <% if @furniture.created_at.present? %>
                  <li> <i class="fa-solid fa-calendar"></i> <span id="bullet">Date de création</span>  <p><%= @furniture.created_at.strftime("%d-%m-%Y") %></p></li>
                <% else %>
                  <li> <i class="fa-solid fa-calendar"></i> <span id="bullet">Date de création</span>  <p><%= Time.now.strftime("%d-%m-%Y") %></p></li>
                <% end %>
                <li><i class="fa-solid fa-copyright"></i><span id="bullet">Créé par</span>
                  <p>Atelier Plinguet</p>
                  <div>
                    <%= image_tag "logo-plinguet-01.png", class: "ap-logo" %>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="furniture-description">
            <p><%= @furniture.description %></p>
          </div>
          <hr>
        </div>
        <div style="text-align: center; margin-top: 2rem">
          <% if user_signed_in? && current_user.admin? %>
            <button data-action="click->update-furniture#displayForm" class="btn btn-outline-primary update-button">Modifier <%= @furniture.name %></button>
            <%= link_to "Supprimer #{@furniture.name}", furniture_path(@furniture), data: { turbo_method: :delete, turbo_confirm: "T'es sûr mon couz ?" }, class: "btn btn-outline-primary update-button" %>
          <% end %>
          <div>
            <%= render "furnitures/update_furniture_form", furniture: @furniture %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
